@import url("../../../styles/vars.css");

div.sx-react-calendar-wrapper {
  width: 90vw;
  min-width: 700px;
}

div.sx__forward-backward-navigation {
  display: flex;
  gap: calc(var(--gap-flex) - 10px);
}

/* modal */

div.sx__event-modal {
  background-color: initial;
  width: max-content;
}

div.sx__event-modal > div {
  color: var(---color-white) !important;
}

div.sx__event-modal > div > div.options {
  display: flex;
  justify-content: center;
  gap: var(--gap-flex);
  margin-bottom: var(--gap-flex);
}

div.sx__event-modal button {
  padding: var(--padding-button);
  font-weight: bold;
  font-size: 15px;
  border-style: none;
  border-radius: var(--border-radius);
  width: fit-content;
  background-image: var(--color-turq);
  color: var(--color-white);
}

div.sx__event-modal div.options button:active {
  transform: scale(1.1);
}

div.sx__event-modal > div p {
  font-weight: bold;
}

div.sx__event-modal > div span {
  font-weight: normal;
}

div.sx__time-grid-event.sx__event.pending {
  background-color: rgb(113, 0, 36) !important;
  color: rgb(255, 194, 213) !important;
  border-inline-start: 4px solid rgb(255, 194, 213) !important;
}

div.sx__time-grid-event.sx__event.completed {
  background-color: rgb(93, 93, 93) !important;
  color: rgb(255, 255, 255) !important;
  border-inline-start: 4px solid rgb(249, 249, 249) !important;
}

div.sx__time-grid-event.sx__event.irrelevant {
  opacity: 0.25;
}

@media (orientation: portrait) {
  div#root {
    max-width: fit-content;
    width: fit-content;
  }
}
