@import url("../../../styles/vars.css");

div.chart {
  background: var(--color-gray);
  color: white;
  border-radius: var(--border-radius);
  height: max-content;
  padding: var(--padding-container);
  text-align: center;
  box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: var(--gap-flex);
}

div.numberchart,
div.piechart {
  width: 200px;
}

div.linechart,
div.barchart {
  min-width: 300px;
  max-width: 350px;
}

div.numberchart > p {
  font-size: 75px;
  font-weight: bold;
}

div.piechart > :nth-child(2) {
  width: 100% !important;
  height: auto !important;
}

li.recharts-legend-item {
  margin-right: 0 !important;
}

div.recharts-legend-wrapper {
  position: static !important;
  width: 90% !important;
}

div.chart text {
  fill: var(--color-white);
  font-size: 20px;
}
