@import url("../../styles/vars.css");

div.chart-container {
  width: 100%;
  max-width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap-flex);
  padding: var(--padding-container);
  color: white;
  overflow-anchor: none;
}

@media (orientation: portrait) {
  main {
    min-height: fit-content;
  }
}
