@import url("./vars.css");

* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 25px;
}

div#root > header button,
form button {
  padding: var(--padding-button);
  font-weight: bold;
  font-size: 15px;
  color: var(--color-white);
  background-image: var(--color-gold);
  border-style: none;
  border-radius: var(--border-radius);
  width: fit-content;
}

div#root > header button:active,
form button:active {
  transform: scale(1.1);
}
